.Rproj.user
.Rhistory
.RData
.Ruserdata
interim_checks
old
other
data/Spatial
output/herd_checks
data/other
data/raw
data/old
data/disturbance
data/annual_data_updates
data/herd_checks
jags/output
IPM_posteriors_AB.csv
ExternalReviews/
paper/
tables/draws
To do.docx
packrat/lib*/
